<h1 class="text-center mt-3">Listing all articles</h1>

<div class="apple_pagination">
<%= will_paginate @articles, :container => false %>
</div>

<%= render 'article' %>

<div class="apple_pagination my-3">
<%= will_paginate @articles, :container => false %>
</div>
