@import 'bootstrap/dist/css/bootstrap';

// .navbar {
//   background-color: #fdf6ea !important;
// }

.navbar-brand {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: asset-url('jumbo-photo.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
}

#home-container {
  margin-top: 25px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}

